body.dark {
    background-color: #353C51;
}
body.dark input::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}
body.dark input {
    background-color:  #767D92;
}

body.light {
    background-color: white;
}

body.light::placeholder{
    color: grey;
    opacity: 1; /* Firefox */
}

body.light input {
    background-color: white;
}

body.dark .button {
    background-image: url("sun.png");
}

body.light .button{
    background-image: url("moon.png");
}

body.dark p.darkmode{
    color: #2196F3;
}

p.darkmode {
    font-family: "HoloLens MDL2 Assets", Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 84.5%;
}

p {
    font-family: "HoloLens MDL2 Assets", Helvetica, sans-serif;
    font-size: 1vw;
}

 .switch {
     position: relative;
     margin-left: 85%;
     display: inline-block;
     width: 60px;
     height: 34px;
 }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

 img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10%;
 }

 input[type=text] {
     width: 31%;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 10px;
     font-size: 16px;
     padding: 12px 20px 12px 20px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     display: block;
 }

 .map
 {
     position: relative;
     height: 75%;
 }


