body.dark {
    background-color: #353C51;
}
body.dark input::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}
body.dark input {
    background-color:  #767D92;
}

body.light {
    background-color: white;
}

body.light::placeholder{
    color: grey;
    opacity: 1; /* Firefox */
}

body.light input {
    background-color: white;
}

body.dark .button {
    background-image: url("sun.png");
}

body.light .button{
    background-image: url("moon.png");
}

#map
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}